.wrapper {
    width: 400px;
    height: 250px;
    perspective: 1000px;
}

h1, h2{
    display: inline;
    color: #fff;
    font-size: 90px;
    text-shadow: 0 4px rgba(16, 16, 16, 0.25);
}

h2 {
    font-size: 50px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;  

    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px;
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden; /* Safari */
    cursor: pointer;
   
}

.front {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transform: rotate(0deg);
    z-index: 2;
}

.back {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    transform: rotateY(180deg);
    z-index: 1;
}

/* .wrapper:hover .card {
    transform: rotateY(180deg);
} */

.floating {
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.turning .card{
    transform: rotateY(180deg);
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    25%  { transform: translate(-5px, 15px); }
    50%   { transform: translate(0, -0px); }   
    75%  { transform: translate(-15px, 5px); }
    100%   { transform: translate(0, -0px); }   
}
